.main {
  nav {
    display: flex;
    position: absolute;
    left: 10%;
    top: 5%;
    max-width: 20rem;
    flex-wrap: wrap;

    .is--active {
      text-decoration: underline;
    }
  }

  .footer {
    position: absolute;
    right: 10%;
    bottom: 5%;

    * {
      text-align: end;
      color: $muted;
      @extend .xsm;
      margin: 0;
    }

    a {
      text-decoration: underline !important;

      &:hover {
        color: black;
        font-weight: $thick;
      }
    }
  }

  .nav-item {
    position: absolute;
  }

  .half-logo {
    position: absolute;

    &.right {
      top: 0;
      right: -10%;
    }
    &.left {
      bottom: 0;
      left: -10%;
    }
  }
}
