.product {
  @include center;
  width: calc(100% - #{$g-md * 2});
  height: calc(100% - #{$g-md * 2});
  padding: $g-md;

  .product-window-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: $window-sm-desktop;
    min-width: $window-sm-min-desktop;

    @include media($s: $screen-md) {
      width: $window-sm-tablet;
      min-width: $window-sm-min-tablet;
    }
    @include media {
      width: $window-sm-mobile;
      min-width: auto;
    }

    .breadcrumbs {
      position: absolute;
      top: -#{$xsm + $g-sm};
      z-index: 1000;
      height: fit-content;
      white-space: nowrap;

      * {
        display: inline-block !important;
      }
    }
  }

  .title {
    margin-bottom: 0;
  }

  .author {
    margin: 0 0 $g-md;
  }

  .breakdown {
    display: flex;
    justify-content: space-between;
  }

  h4,
  h5,
  h6,
  p {
    display: none;
  }

  .image {
    height: calc(#{$window-height} + #{$g-sm * 2});
    @include center;
    margin-right: $g-lg;

    &.image-desktop {
      display: block;
      @include media($s: $screen-md) {
        display: none;
      }
    }
    &.image-mobile {
      display: none;
      // height: auto;
      margin: $g-sm 0;
      align-self: center;
      @include media($s: $screen-md) {
        display: block;
        max-width: 40%;
      }
      @include media($s: $screen-md) {
        display: block;
        max-width: 55%;
      }
    }

    * {
      width: 100% !important;
      height: 100% !important;

      img {
        width: auto !important;
        height: auto !important;
        max-width: 100% !important;
        max-height: 100% !important;
      }
    }
  }

  select {
    width: fit-content;
    font-family: $font;
  }

  .paypal-btn-wrapper {
    width: 100%;
    max-width: 25rem;
    margin: $g-md 0 0;
    align-self: center;
    font-size: $md !important;
  }
}

.zoom {
  width: calc(100vw - #{$g-sm * 2});
  height: calc(100vh - #{$g-sm * 2});
  padding: $g-sm;
  overflow: scroll;
  position: relative;

  .image {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;

    * {
      width: 100% !important;
      height: 100% !important;

      img {
        width: auto !important;
        height: auto !important;
        max-width: 100% !important;
        max-height: 100% !important;
      }
    }
  }

  .back {
    margin: $g-sm;
    padding: $g-sm;
    border-radius: $border-radius;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
