.window {
  @include border;
  padding: $g-sm;
  min-height: $window-height;
  max-height: $window-height;
  display: flex;
  flex-direction: column;
  background-color: $light;
  position: relative;
  z-index: 10;

  .window-bg {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: -1;
    @include trans;
  }

  @include media {
    width: 90%;
  }

  &.small {
    width: $window-sm-desktop;
    min-width: $window-sm-min-desktop;
    overflow-x: hidden;
    overflow-y: scroll;

    @include media($s: $screen-md) {
      width: $window-sm-tablet;
      min-width: $window-sm-min-tablet;
    }
    @include media {
      width: $window-sm-mobile;
      min-width: auto;
    }
  }
  &.large {
    width: $window-lg-desktop;
    min-width: $window-lg-min-desktop;
    overflow-y: hidden;
    overflow-x: scroll;

    @include media($s: $screen-md) {
      width: $window-lg-tablet;
      min-width: auto;
    }
  }

  .m-0 {
    margin: 0;
  }

  h1 {
    margin: $g-md 0;
    text-align: right;
    text-decoration: underline;
  }

  h2 {
    margin: $g-sm 0;
  }

  h3 {
    margin: $g-xsm 0;
  }

  a {
    text-decoration: underline;
  }

  .align-center {
    display: none;
  }
}
