.window {
  &.catalogue {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    border: none;
    @include border($v: x);

    .scroll {
      white-space: nowrap;
      @keyframes attend {
        0% {
          transform: translateX(0);
        }
        60% {
          transform: translateX(0);
        }
        80% {
          transform: translateX(5px);
        }
        100% {
          transform: translateX(0);
        }
      }

      transform-origin: 0 center;
      animation: attend 1.5s 1s ease-in-out infinite;
    }

    .description {
      min-width: 50%;
      align-self: flex-start;
      margin-right: $g-lg;

      .title {
        margin-bottom: 0;
        max-width: none;
      }

      h2 {
        // max-width: 60%;

        &.scroll {
          white-space: nowrap;
          transform-origin: 0 center;
          animation: attend 1.5s 1s ease-in-out infinite;
        }

        &.author {
          margin: 0 0 $g-md;
          max-width: none;
        }
      }
    }

    .idea {
      @include center;
      height: 100%;
      padding: 0 $g-lg;
      flex-shrink: 0;
      width: fit-content;

      .cover {
        margin-right: $g-sm;
        height: $catalogue-img;
        max-height: $catalogue-img;

        div {
          height: $catalogue-img !important;
          max-height: $catalogue-img !important;
        }

        img {
          height: $catalogue-img !important;
          max-height: $catalogue-img !important;
        }
      }

      .info {
        max-width: 20rem;
        h1 {
          text-align: left;
          margin: $g-sm 0;
        }

        h2,
        h3 {
          margin: 0;
          margin: $g-xxsm 0;
        }
      }
    }
  }
}
