// PAGE
html {
  background-color: $light;
}

body {
  margin: 0;
  @include trans;
  font-family: $font;
}

.main {
  @include center($d: column);
  position: relative;
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
}

// WIDTHS, HEIGHTS
@each $p, $d in $percentages {
  .w-#{$p} {
    width: percentage($d);
  }
  .h-#{$p} {
    width: percentage($d);
  }
  .w-min-#{$p} {
    min-width: percentage($d);
  }
  .h-min-#{$p} {
    min-height: percentage($d);
  }
  .w-max-#{$p} {
    max-width: percentage($d);
  }
  .h-max-#{$p} {
    max-height: percentage($d);
  }
}

// GENERAL CLASSES

.hidden {
  display: none;
}

// TEXT

.italic {
  font-style: italic;
}

.under {
  text-decoration: underline;
}

@each $v in $alignments {
  .ta-#{$v} {
    text-align: $v;
  }
}

@each $k, $v in $colors {
  .--#{$k} {
    color: $v;
  }
}

@each $n, $w in $font-weights {
  .#{$n} {
    font-weight: $w;
  }
}

@each $s, $n in $font-sizes {
  .m-#{$s} {
    margin: $n;
  }
  .my-#{$s} {
    margin-top: $n;
    margin-bottom: $n;
  }
  .mx-#{$s} {
    margin-left: $n;
    margin-right: $n;
  }
}

// HEADERS

@each $s, $n in $font-sizes {
  .#{$s} {
    font-size: $n;
  }
}

@each $header, $size in $header-sizes {
  #{$header} {
    font-size: $size;
    font-weight: $thin;
    margin: 0;
  }
}

a,
button,
.btn {
  color: $dark;
  text-decoration: none;
  font-weight: $thick;
  width: fit-content;
  @include trans;
  outline: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  font-family: $font;
  cursor: pointer;

  &:hover {
    color: $light;
  }

  &.under {
    text-decoration: underline;
  }
}

// CURSOR
.pointer {
  cursor: pointer;
}

// LOADING

@keyframes load {
  from {
    transform: scale(1.05);
  }
  to {
    opacity: 0.8;
  }
}

.loading {
  text-align: center;
  justify-self: center;
  align-self: center;
  transform-origin: center;
  animation: load 0.3s ease-in-out alternate infinite;
  padding-top: $g-lg;
}
